@model IEnumerable<MoviesDbMVC.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="row card-container">
    @foreach (var movie in Model)
    {
        @await Html.PartialAsync("~/Views/Partials/_cardMovie.cshtml", movie)
    }
</div>
