@model IList<MoviesDbMVC.Models.Movie>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@if (!Model.Any())
{
    <h3>No result found.</h3>
}
else
{
    <div class="row card-container">
        @foreach (var movie in Model)
        {
            @await Html.PartialAsync("~/Views/Partials/_cardMovie.cshtml", movie)
        }
    </div>
}



